    /* 
    The cleverer parts of this stylesheet came from
    The Layout Reservoir - well worth a look.
    http://www.bluerobot.com/web/layouts/
    */

    body {
        color:#333;
        background-color: #c0c0c0;
        margin:0px;
        font:11px verdana, arial, helvetica, sans-serif;
    }


    h1 {
/*
        border-top: 1px solid #3d8ea8;
        border-bottom: 1px solid #005069;
        border-right: 1px solid #3d8ea8;
        border-left: 1px solid #3d8ea8;
        background-color: #544abd;
*/
        border: 1px solid #439151;
        background-color: #439151;
        color: #ffffff;
        font-family: trebuchet ms, verdana, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        padding: 3px 0px 3px 10px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    hr.status-separator {
        height: 1px;
        padding:0;
        
        margin:0;
        margin-right: 10px;
        margin-top:2px;
        margin-bottom:2px;
        border:0;
        border-bottom: 1px solid white;
        }

    p {
        font:11px/20px verdana, arial, helvetica, sans-serif;
        margin:0px 10px 10px 10px;
    }


    a {
        color:#09c;
        font-size:11px;
        font-family:verdana, arial, helvetica, sans-serif;
        font-weight:600;
        text-decoration:none;
    }

    a:link {color:#09c;}
    a:visited {color:#07a;}
    a:hover {text-decoration:underline;}

    a.alt{color:white; text-decoration:underline;font-weight:bold;}
    a.alt:link{color:white;}
    a.alt:visited{color:white;}
    a.alt:hover{color:yellow;background-color:transparent;}

    a.code {
        text-decoration:underline;
        font-family:courier, fixed;
        font-weight:normal;}
    a.code:link {color:#09c;}
    a.code:visited {color:#07a;}
    a.code:hover {text-decoration:underline;}


    code { font-size:12px;}

    .codeedit {    font-size:12px;}

    .code-highlight {
        background: #FF8;
    }

    #titlebar {
        padding: 0px 0px 0px 5px;
        height:16px;
/*
        border-top: solid 1px #73a5d3;
        border-bottom: solid 1px #39526b;
        background-color: #544abd;
*/
        border-top: solid 1px #439151;
        border-bottom: solid 1px #439151;
        background-color: #439151;
        color: #ffffff;
        /*width: 100%;*/
        margin-bottom: 11px;
    }

    .nav { margin: 0px 5px 0px 5px; }

    ul {
        margin-left:15px;
        margin-top:0px;
        padding-left:0px;
    }

    #menu li.highlight{ background-color: #ccccff; }

    #menu li {
        list-style-type: square;
        line-height: 11px;
        padding-bottom: 3px;
    }

/*
    code ul li {
        list-style-type: decimal;
    }
*/

    .para {
        font:11px/20px verdana, arial, helvetica, sans-serif;
        margin:0px 10px 10px 10px;
    }

    #container
    {
        width: 100%;
        margin: 0 auto;
    }

    #menu {
        margin-left:10px;
        float:left;
        width:162px;
        padding:5px;
        background-color: #fff;
        border:1px solid black;
        line-height:17px;
        overflow: hidden;

        /* IE5 Hack */
        voice-family: "\"}\"";
        voice-family:inherit;
        width:140px;
    }



    #headerIncludedContent {
        margin-left: 10px;
        margin-bottom: 10px;
        padding:5px;
        margin-right: 10px;
        background-color: white;
        border:1px solid black;
        /* IE5 Hack */
        voice-family: "\"}\"";
        voice-family:inherit;
    }


    #content {
        margin-left: 192px;
        padding:5px;
        margin-right: 10px;
        background-color: white;
        border:1px solid black;
        /* IE5 Hack */
        voice-family: "\"}\"";
        voice-family:inherit;
        margin-left:170px;

    }


    /* be nice to Opera 5 */
    body>#Menu {width:150px;}


table#diff {
	padding: 3px;
    margin: 0;
}

.diff_regular {
	padding-right: 0.7em;
}

.diff_deleted {
	background: #FFDCD2;
	padding-right: 0.7em;
}

.diff_added {
	background: #DCFFBE;
	padding-right: 0.7em;
}

/*
table#diff {
margin: 3px;
}
*/

#paste {
	overflow: auto;
	font-family: monospace;
	font-size: 12px;
}

table#diff td {
    font-family: monospace;
    font-size: 12px;
    white-space: nowrap;
    padding-right: 5px;
}

/* Login Pages */
#login {
        background-color: white;
        width: 350px;
        margin: 10% auto;
        padding: 20px 10px;
        border: 5px solid #666;
}

#login h2 {
  font-size: 20px;
}

#login small {
    font-size: 10px;
}
    
input.login {
  margin-left: 0;
}

table.login_form {
}

.biginput {
    font-size: 20px;
    font-weight: bold;
}

table.login_form th {
  width: 150px;
  text-align: right;
  padding: 8px 5px 5px 5px;
  vertical-align: top;
}

table.login_form td {
  padding: 5px;
  text-align: left;
}